tongdaita*CLI> dialplan show  8000@cnta
[ Context 'cnta' created by 'pbx_config' ]
  '8000' =>         1. NoOP()                                     [extensions.conf:1727]
                    2. SET(__pbxtel=${EXTEN})                     [extensions.conf:1729]
                    3. goto(pbxtel)                               [extensions.conf:1730]
     [pbxtel777]    4. Set(CDR(pbxtel)=${pbxtel})                 [extensions.conf:1732]
                    5. Set(__pbxtel=19001836)                     [extensions.conf:1733]
                    6. goto(gtnoanswer)                           [extensions.conf:1736]
     [pbxtel]       7. Set(CDR(pbxtel)=${pbxtel})                 [extensions.conf:1738]
     [gtnoanswer]   8. NoOP()                                     [extensions.conf:1739]
                    9. Progress()                                 [extensions.conf:1740]
                    10. Wait(1)                                   [extensions.conf:1741]
     [pbxtelanswer] 11. SET(recordfolder=${GET_GSETTINGVALUE(recordfolder)}) [extensions.conf:1743]
                    12. Set(CDR(tel)=${CALLERID(ani)})            [extensions.conf:1745]
                    13. Set(CDR(calldirection)=in)                [extensions.conf:1746]
                    14. Set(__caller=${CALLERID(ani)})            [extensions.conf:1748]
                    15. Set(__vm=false)                           [extensions.conf:1749]
                    16. set(__Time_Now=${EPOCH})                  [extensions.conf:1750]
                    17. set(__Year=${STRFTIME(${Time_Now},,%C%y)}) [extensions.conf:1751]
                    18. set(__Month=${STRFTIME(${Time_Now},,%m)}) [extensions.conf:1752]
                    19. set(__Day=${STRFTIME(${Time_Now},,%d)})   [extensions.conf:1753]
                    20. set(__WeekdayName=${STRFTIME(${Time_Now},,%a)}) [extensions.conf:1754]
                    21. set(__DayOfWeek=${STRFTIME(${Time_Now},,%w)}) [extensions.conf:1755]
                    22. set(__strcalltype=in)                     [extensions.conf:1758]
                    23. set(__destinationnumber=${pbxtel})        [extensions.conf:1759]
                    24. set(__callernumber=${CALLERID(ani)})      [extensions.conf:1760]
                    25. set(__recordpath=record/${strcalltype}/${Year}/${Month}/${Day}/${UNIQUEID}.wav) [extensions.conf:1761]
                    26. set(Path=${recordfolder}/${strcalltype}/${Year}/${Month}/${Day}/${UNIQUEID}.wav) [extensions.conf:1762]
                    27. SET(__starttime=${STRFTIME(${EPOCH},,%C%y-%m-%d %H:%M:%S)}) [extensions.conf:1765]
                    28. SET(__childcalluuid=${SIPCALLID})         [extensions.conf:1766]
                    29. SET(__strrecordpath=${recordpath})        [extensions.conf:1767]
                    30. SipAddHeader(P-Asserted-Identity:${UNIQUEID}_${strcalltype}) [extensions.conf:1769]
                    31. GotoIf($[${CHECK_BLACKLIST2(${CALLERID(ani)},cnta)}]?dropblacklist) [extensions.conf:1774]
                    32. Set(departmentid=4)                       [extensions.conf:1776]
                    33. Set(CDR(departmentid)=${departmentid})    [extensions.conf:1777]
                    34. Answer()                                  [extensions.conf:1780]
     [checkday]     35. SET(ARRAY(__maindialplanid,__departmentid)=${GET_IVRDAY(${pbxtel})}) [extensions.conf:1790]
                    ;GET_IVRDAY , kiem tra ivrplan cho day
                    ;SELECT `maindialplanid`,departmentid FROM `ivrplanforday` 
                    ; WHERE 1 AND fromdate<=curdate() AND curdate()<=todate AND fromtime<=CURRENT_TIME() AND CURRENT_TIME()<=totime AND (pbxtel='${SQL_ESC(${ARG1})}' OR pbxtel='') ORDER BY pbxtel DESC LIMIT 1
                    
                    36. GotoIF($["${maindialplanid}"!=""]?day:checkweekday) [extensions.conf:1791]

     [day]          37. Verbose(3,day)                            [extensions.conf:1793]
                    38. goto(maindialplan)                        [extensions.conf:1794]
     [maindialplan] 39. Verbose(3,maindialplan)                   [extensions.conf:1796]
                    40. SET(ARRAY(__iaction,__ito,__timeout,__maxdigits,__attempts,__nextmaindialplanid,__ordnum,__filename,__queuename,__departmentid)=${GET_IVRMAIN(${maindialplanid})}) [extensions.conf:1797]
                    41. Goto(${iaction})                          [extensions.conf:1798]
     [Play]         42. Verbose(3,Playback)                       [extensions.conf:1801]
                    43. Playback(/var/www/html/ivrsound/rt/${filename}) [extensions.conf:1802]


     [checkweekday] 44. Verbose(3,Nocheck-continue)               [extensions.conf:1805]
                    45. GotoIf($["${CHECK_HOLIDAY()}"="1"]?nonofficetime:binhthuong) [extensions.conf:1810]
                    ;CHECK_HOLIDAY==>  binh thuong
     [binhthuong]   46. Verbose(3,binhthuong)                     [extensions.conf:1832]
                    47. GotoIfTime(0:0-7:30,mon-fri,*,*?NgoaiGio_Phim1) [extensions.conf:1838]
                    48. GotoIfTime(17:00-23:59,mon-fri,*,*?NgoaiGio_Phim1) [extensions.conf:1839]
                    49. GotoIfTime(0:0-23:59,sat,*,*?NgoaiGio_Phim1) [extensions.conf:1840]
                    50. GotoIfTime(0:0-23:59,sun,*,*?NgoaiGio_Phim1) [extensions.conf:1841]
                    51. GotoIfTime(7:30-21:00,*,*,*?g1menu)       [extensions.conf:1853]
                    52. Goto(binhthuong1)                         [extensions.conf:1855]
     [tbCuoiTuan]   53. Verbose(tbCuoiTuan)                       [extensions.conf:1857]
                    54. Playback(/var/www/html/ivrsound/cnta_ngoaigio) [extensions.conf:1858]
                    55. Goto(binhthuong1)                         [extensions.conf:1859]
     [g1menu]       56. Verbose(g1menu)                           [extensions.conf:1861]
                    57. GotoIf($["${CHECK_HOLIDAYTB()}"="1"]?binhthuong1) [extensions.conf:1862]
;CHECK_HOLIDAYTB
;SELECT IF(count(*) >0,1,0) FROM `ast_gsetting` WHERE ('2022-01-28 00:00:00' <= NOW()) AND (NOW()<'2022-02-07 07:30:00')

                    58. Set(ivrkey=1)                             [extensions.conf:1864]
                    59. GotoIf($["${ivrkey}"=="1"]?binhthuong1)   [extensions.conf:1865]
                    60. GotoIf($["${ivrkey}"=="2"]?menu2)         [extensions.conf:1866]
                    61. GotoIf($["${ivrkey}"=="3"]?menu3)         [extensions.conf:1867]
                    62. GotoIf($["${ivrkey}"=="4"]?menu4)         [extensions.conf:1868]
                    63. GotoIf($["${ivrkey}"=="5"]?menu5)         [extensions.conf:1869]
                    64. Hangup()                                  [extensions.conf:1870]
     [menu2]        65. Read(__ivrkey,/var/www/html/ivrsound/2ThuTucHoGiaDinh,1,,3,5) [extensions.conf:1873]
                    66. GotoIf($["${ivrkey}"=="1"]?binhthuong1)   [extensions.conf:1874]
                    67. GotoIf($["${ivrkey}"=="2"]?menu2)         [extensions.conf:1875]
                    68. Hangup()                                  [extensions.conf:1876]
     [menu3]        69. Read(__ivrkey,/var/www/html/ivrsound/3DangKyDinhMucNuoc,1,,3,5) [extensions.conf:1879]
                    70. GotoIf($["${ivrkey}"=="1"]?binhthuong1)   [extensions.conf:1880]
                    71. GotoIf($["${ivrkey}"=="3"]?menu3)         [extensions.conf:1881]
                    72. Hangup()                                  [extensions.conf:1882]
     [menu4]        73. Read(__ivrkey,/var/www/html/ivrsound/4DoiDongHo,1,,3,5) [extensions.conf:1885]
                    74. GotoIf($["${ivrkey}"=="1"]?binhthuong1)   [extensions.conf:1886]
                    75. GotoIf($["${ivrkey}"=="4"]?menu4)         [extensions.conf:1887]
                    76. Hangup()                                  [extensions.conf:1888]
     [menu5]        77. Read(__ivrkey,/var/www/html/ivrsound/5SangTenDHN,1,,3,5) [extensions.conf:1891]
                    78. GotoIf($["${ivrkey}"=="1"]?binhthuong1)   [extensions.conf:1892]
                    79. GotoIf($["${ivrkey}"=="3"]?menu3)         [extensions.conf:1893]
                    80. GotoIf($["${ivrkey}"=="5"]?menu5)         [extensions.conf:1894]
                    81. Hangup()                                  [extensions.conf:1895]
     [binhthuong1]  82. Verbose(3,binhthuong1)                    [extensions.conf:1898]
                    83. gotoif($["${CALLERID(ani)}"="0936020479_"]?test146) [extensions.conf:1905]
                    84. GotoIf($["${CHECK_WORKINGTIME1()}"="1"]?officetime:nonofficetime1) [extensions.conf:1906]
                    ;==> officetime
                    ;SELECT IF(COUNT(1)>0, 1, 0) FROM `cc_workingday` WHERE `wdayofweek` = DAYOFWEEK(now( )) AND `startmorning` <= CURTIME( )AND CURTIME( ) <= `endmorning`

     [nonofficetime1] 85. Set(CDR(dropcause)=nonofficetime)         [extensions.conf:1907]
                    86. Set(ARRAY(wdayofweek,forwardnumber,fwmode)=${GET_FORWARDNUMBER2()}) [extensions.conf:1909]
                    87. GotoIf($["${fwmode}"=="Dial"]?siptrunkforward1) [extensions.conf:1910]
                    88. GotoIf($["${fwmode}"=="Queue"]?fwQueue)   [extensions.conf:1911]
                    89. Hangup()                                  [extensions.conf:1912]
                    90. Goto(siptrunkforward1)                    [extensions.conf:1913]
     [fwQueue]      91. Verbose(3,goto fwQueue)                   [extensions.conf:1914]
                    92. SET(__ivrkey=10)                          [extensions.conf:1915]
                    93. Set(ARRAY(__action,__ato,__timeout,__ngreeting,__tovm,__departmentid)=${GET_IVRINFO(${ivrkey},${pbxtel})}) [extensions.conf:1916]
                    94. Set(__ato=GroupDay${wdayofweek})          [extensions.conf:1917]
                    95. Verbose(departmentid=${departmentid})     [extensions.conf:1918]
                    96. Set(CDR(departmentid)=${departmentid})    [extensions.conf:1919]
                    97. goto(goqueue)                             [extensions.conf:1920]
                    98. Set(wtstart=${GET_GSETTINGVALUE(wtstart)}) [extensions.conf:1927]
                    99. Set(wtend=${GET_GSETTINGVALUE(wtend)})    [extensions.conf:1928]
                    100. GotoIfTime(${wtstart}-${wtend},mon-fri,*,*?officetime) [extensions.conf:1931]
     [nonofficetime] 101. Set(CDR(dropcause)=nonofficetime)        [extensions.conf:1941]
                    102. Goto(siptrunkforward)                    [extensions.conf:1942]
                    103. Set(forwardnumber=0908830957)            [extensions.conf:1944]
                    104. Set(forwardnumber=3807595)               [extensions.conf:1945]
                    105. Set(forwardnumber=+84919596208)          [extensions.conf:1946]
                    106. set(__calltonumber=SIP/vnpt2/${forwardnumber}) [extensions.conf:1949]
                    107. Set(CDR(forwardnumber)=${forwardnumber}) [extensions.conf:1950]
                    108. set(Path=${recordfolder}/in/${Year}/${Month}/${Day}/${UNIQUEID}.wav) [extensions.conf:1951]
                    109. Set(CDR(recordpath)=${Path})             [extensions.conf:1952]
                    110. MIXMONITOR(${Path})                      [extensions.conf:1953]
                    111. Set(CDR(departmentid)=4)                 [extensions.conf:1955]
                    112. Set(CALLERID(num)=888090333)             [extensions.conf:1956]
                    113. Set(CALLERID(name)=888090333)            [extensions.conf:1957]
                    114. SET(CDR(command)=Dial)                   [extensions.conf:1958]
                    115. Dial(${calltonumber},30,RtT)             [extensions.conf:1959]
                    116. Verbose(2,Dialstatus = ${DIALSTATUS})    [extensions.conf:1963]
                    117. Verbose(2,HANGUPCAUSE = ${HANGUPCAUSE})  [extensions.conf:1964]
                    118. Hangup()                                 [extensions.conf:1965]
     [siptrunkforward] 119. Verbose(3,siptrunkforward)               [extensions.conf:1969]
                    120. Set(forwardnumber=${GET_GSETTINGVALUE(forwardnumber)}) [extensions.conf:1971]
                    121. Set(itspname=${GET_GSETTINGVALUE(itspname)}) [extensions.conf:1972]
                    122. Set(itspnumber=${GET_GSETTINGVALUE(itspnumber)}) [extensions.conf:1973]
                    123. Set(CALLERID(num)=${itspnumber})         [extensions.conf:1979]
                    124. Set(CALLERID(name)=${itspnumber})        [extensions.conf:1980]
                    125. set(__calltonumber=SIP/643595959/+84${forwardnumber}) [extensions.conf:1981]
                    126. Set(CDR(forwardnumber)=${forwardnumber}) [extensions.conf:1982]
                    127. Set(CDR(recordpath)=${Path})             [extensions.conf:1984]
                    128. MIXMONITOR(${Path})                      [extensions.conf:1985]
                    129. Set(CDR(departmentid)=4)                 [extensions.conf:1987]
                    130. SET(CDR(command)=Dial)                   [extensions.conf:1988]
                    131. Dial(SIP/${itspname}/+84${forwardnumber:1},30,RtT) [extensions.conf:1992]
                    132. Verbose(2,Dialstatus = ${DIALSTATUS})    [extensions.conf:1996]
                    133. Verbose(2,HANGUPCAUSE = ${HANGUPCAUSE})  [extensions.conf:1997]
                    134. Hangup()                                 [extensions.conf:1998]
     [siptrunkforward1] 135. Verbose(3,siptrunkforward1)              [extensions.conf:2003]
                    136. gotoif($["${CALLERID(ani)}"="0908903601"]?test146:checkextforword) [extensions.conf:2004]
     [test146]      137. set(ato=146)                             [extensions.conf:2005]
                    138. goto(todialfw)                           [extensions.conf:2006]
     [checkextforword] 139. Set(ARRAY(__ato,__departmentid)=${GET_EXTNAMEINFO2(${forwardnumber},${CONTEXT})}) [extensions.conf:2008]
                    140. GotoIF($["${ato}"=""]?siptrunkforward1pstn:todialfw) [extensions.conf:2009]
     [todialfw]     141. SET(CDR(command)=Dial)                   [extensions.conf:2010]
                    142. Set(CDR(recordpath)=${Path})             [extensions.conf:2011]
                    143. MIXMONITOR(${Path})                      [extensions.conf:2012]
                    144. SET(CDR(ext)=${ato})                     [extensions.conf:2013]
                    145. Set(CDR(departmentid)=4)                 [extensions.conf:2014]
                    146. Dial(SIP/${ato},120,rtT)                 [extensions.conf:2015]
                    147. Playback(/var/www/html/ivrsound/${CONTEXT}/${notconnected_greeting}) [extensions.conf:2016]
                    148. Hangup()                                 [extensions.conf:2017]
     [siptrunkforward1pstn] 149. Set(itspname=${GET_GSETTINGVALUE(itspname)}) [extensions.conf:2019]
                    150. Set(itspnumber=${GET_GSETTINGVALUE(itspnumber)}) [extensions.conf:2020]
                    151. Set(CALLERID(num)=${itspnumber})         [extensions.conf:2021]
                    152. Set(CALLERID(name)=${itspnumber})        [extensions.conf:2022]
                    153. set(__calltonumber=SIP/643595959/+84${forwardnumber}) [extensions.conf:2023]
                    154. Set(CDR(forwardnumber)=${forwardnumber}) [extensions.conf:2024]
                    155. Set(CDR(recordpath)=${Path})             [extensions.conf:2026]
                    156. MIXMONITOR(${Path})                      [extensions.conf:2027]
                    157. Set(CDR(departmentid)=4)                 [extensions.conf:2028]
                    158. SET(CDR(command)=Dial)                   [extensions.conf:2029]
                    159. Dial(SIP/${itspname}/+84${forwardnumber:1},30,RtT) [extensions.conf:2030]
                    160. Verbose(2,Dialstatus = ${DIALSTATUS})    [extensions.conf:2031]
                    161. Verbose(2,HANGUPCAUSE = ${HANGUPCAUSE})  [extensions.conf:2032]
                    162. Hangup()                                 [extensions.conf:2033]
                    
     [officetime]   163. NoOp()                                   [extensions.conf:2061]
                    164. Set(g1=g1)                               [extensions.conf:2062]
                    165. SET(__ivrkey=10)                         [extensions.conf:2067]
                    166. Verbose(ivrkey= ${ivrkey})               [extensions.conf:2069]
                    167. Verbose(GET_IVRINFO(${ivrkey},${pbxtel})) [extensions.conf:2070]
                    168. Set(ARRAY(__action,__ato,__timeout,__ngreeting,__tovm,__departmentid)=${GET_IVRINFO(${ivrkey},${pbxtel})}) [extensions.conf:2071]
                    169. Verbose(departmentid=${departmentid})    [extensions.conf:2075]
                    170. Set(CDR(departmentid)=${departmentid})   [extensions.conf:2076]
     [goqueue]      171. NoOP()                                   [extensions.conf:2081]
                    172. MIXMONITOR(${Path},a)                    [extensions.conf:2086]
                    173. Set(CDR(recordpath)=${Path})             [extensions.conf:2087]
                    174. Set(startime=${STRFTIME(${EPOCH},,%C%y-%m-%d %H:%M:%S)}) [extensions.conf:2089]
                    175. Set(D_TSQL()=INSERT INTO currentcall (recordpath,channel,SIPCALLID,uniqueid,caller,callee,timein,timestart,calltype,tel,on_queue,departmentid,pbxtel) VALUES ('${recordpath}','${CHANNEL}','${SIPCALLID}','${UNIQUEID}','${CALLERID(ani)}','${pbxtel}','${startime}','${startime}','in','${CALLERID(ani)}','${ato}','${departmentid}','${pbxtel}')) [extensions.conf:2093]
                    176. SET(CDR(ivrqueue)=${ato})                [extensions.conf:2112]
                    177. SET(CDR(command)=Queue)                  [extensions.conf:2113]
                    178. gotoif($["${CALLERID(ani)}"="0908407321__"]?locvvtest) [extensions.conf:2121]
                    179. SET(CDR(dropcause)=normal)               [extensions.conf:2122]
                    180. Answer()                                 [extensions.conf:2123]
                    181. Queue(${ato},t,,,${timeout})             [extensions.conf:2124]
                    182. playback(/var/www/html/ivrsound/busywait) [extensions.conf:2127]
                    183. Queue(${ato},t,,,${timeout})             [extensions.conf:2129]
                    184. SET(CDR(dropcause)=${QUEUESTATUS})       [extensions.conf:2130]
                    185. playback(/var/www/html/ivrsound/busystop) [extensions.conf:2131]
                    186. Hangup()                                 [extensions.conf:2137]
     [locvvtest]    187. NoOP()                                   [extensions.conf:2139]
                    188. Queue(Group2,t,,,${timeout})             [extensions.conf:2143]
                    189. Hangup()                                 [extensions.conf:2145]
     [dropblacklist] 190. Verbose(3,this tel is in the blacklist)  [extensions.conf:2150]
                    191. SET(CDR(dropcause)=blacklist)            [extensions.conf:2151]
                    192. SET(CDR(display)=0)                      [extensions.conf:2152]
                    193. SET(__isnocdr=yes)                       [extensions.conf:2153]
                    194. Hangup()                                 [extensions.conf:2155]
     [VMSau22h]     195. Verbose(3,Voice Mail sau 22h)            [extensions.conf:2158]
                    196. Playback(/var/www/html/ivrsound/cnta_sau22h) [extensions.conf:2159]
                    197. Goto(VM)                                 [extensions.conf:2160]
     [VM]           198. Verbose(3,VM)                            [extensions.conf:2161]
                    199. MIXMONITOR(${Path})                      [extensions.conf:2162]
                    200. Set(CDR(recordpath)=${Path})             [extensions.conf:2163]
                    201. Set(CDR(vm)=true)                        [extensions.conf:2164]
                    202. Set(__vm=true)                           [extensions.conf:2165]
                    203. SET(timeout=300)                         [extensions.conf:2166]
                    204. Record(filename.wav,,${timeout},)        [extensions.conf:2167]
                    205. Hangup()                                 [extensions.conf:2168]
     [NgoaiGio_Phim1] 206. Verbose(3,NgoaiGio_Phim1)                [extensions.conf:2170]
                    207. Read(__ivrkey,/var/www/html/ivrsound/ngoaigio_phim1,1,5,2) [extensions.conf:2171]
                    208. GotoIf($["${ivrkey}"="1"]?xuly_NgoaiGio_Phim1:xuly_NgoaiGio_Phim1_Kethut) [extensions.conf:2172]
     [xuly_NgoaiGio_Phim1] 209. Verbose(3,xuly_NgoaiGio_Phim1)           [extensions.conf:2173]
                    210. goto(nonofficetime1)                     [extensions.conf:2174]
     [xuly_NgoaiGio_Phim1_Kethut] 211. Verbose(3,xuly_NgoaiGio_Phim1_Kethut)    [extensions.conf:2175]
                    212. Hangup()                                 [extensions.conf:2176]
  