tongdaita*CLI> 
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
    -- Registered SIP '0908407322' at 14.186.70.35:27651
[Jul 31 17:01:50] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '0908407322' is now Reachable. (33ms / 20000ms)
    -- Registered SIP '131' at 14.238.88.74:50763
[Jul 31 17:02:23] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (14ms / 20000ms)
    -- Unregistered SIP '131'
[Jul 31 17:02:23] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (12ms / 20000ms)
    -- Registered SIP '131' at 14.238.88.74:50763
       > Saved useragent "Sipnetic/1.1.10 Android" for peer 131
[Jul 31 17:02:23] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (11ms / 20000ms)
  == HTTP Manager 'cnta' timed out from 127.0.0.1
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
[Jul 31 17:04:31] NOTICE[735747]: chan_sip.c:30551 sip_poke_noanswer: Peer '0908407322' is now UNREACHABLE!  Last qualify: 14
  == Using SIP RTP CoS mark 5
       > 0x7f7c802970b0 -- Strict RTP learning after remote address set to: 222.10.30.96:10158
    -- Executing [190099999701@itsp:1] NoOp("SIP/sawaco-00009f36", "") in new stack
    -- Executing [190099999701@itsp:2] Set("SIP/sawaco-00009f36", "__tel=0908353820") in new stack
    -- Executing [190099999701@itsp:3] Set("SIP/sawaco-00009f36", "CALLERID(ani)=0908353820") in new stack
    -- Executing [190099999701@itsp:4] Set("SIP/sawaco-00009f36", "CALLERID(name)=0908353820") in new stack
    -- Executing [190099999701@itsp:5] Set("SIP/sawaco-00009f36", "CALLERID(num)=0908353820") in new stack
    -- Executing [190099999701@itsp:6] Set("SIP/sawaco-00009f36", "__pbxtel=190099999701") in new stack
    -- Executing [190099999701@itsp:7] Goto("SIP/sawaco-00009f36", "cnta,8000,pbxtel777") in new stack
    -- Goto (cnta,8000,4)
    -- Executing [8000@cnta:4] Set("SIP/sawaco-00009f36", "CDR(pbxtel)=190099999701") in new stack
    -- Executing [8000@cnta:5] Set("SIP/sawaco-00009f36", "__pbxtel=19001836") in new stack
    -- Executing [8000@cnta:6] Goto("SIP/sawaco-00009f36", "gtnoanswer") in new stack
    -- Goto (cnta,8000,8)
    -- Executing [8000@cnta:8] NoOp("SIP/sawaco-00009f36", "") in new stack
    -- Executing [8000@cnta:9] Progress("SIP/sawaco-00009f36", "") in new stack
    -- Executing [8000@cnta:10] Wait("SIP/sawaco-00009f36", "1") in new stack
       > 0x7f7c802970b0 -- Strict RTP qualifying stream type: audio
       > 0x7f7c802970b0 -- Strict RTP switching source address to 14.238.91.30:10158
    -- Executing [8000@cnta:11] Set("SIP/sawaco-00009f36", "recordfolder=/var/www/html/record") in new stack
    -- Executing [8000@cnta:12] Set("SIP/sawaco-00009f36", "CDR(tel)=0908353820") in new stack
    -- Executing [8000@cnta:13] Set("SIP/sawaco-00009f36", "CDR(calldirection)=in") in new stack
    -- Executing [8000@cnta:14] Set("SIP/sawaco-00009f36", "__caller=0908353820") in new stack
    -- Executing [8000@cnta:15] Set("SIP/sawaco-00009f36", "__vm=false") in new stack
    -- Executing [8000@cnta:16] Set("SIP/sawaco-00009f36", "__Time_Now=1785492284") in new stack
    -- Executing [8000@cnta:17] Set("SIP/sawaco-00009f36", "__Year=2026") in new stack
    -- Executing [8000@cnta:18] Set("SIP/sawaco-00009f36", "__Month=07") in new stack
    -- Executing [8000@cnta:19] Set("SIP/sawaco-00009f36", "__Day=31") in new stack
    -- Executing [8000@cnta:20] Set("SIP/sawaco-00009f36", "__WeekdayName=Fri") in new stack
    -- Executing [8000@cnta:21] Set("SIP/sawaco-00009f36", "__DayOfWeek=5") in new stack
    -- Executing [8000@cnta:22] Set("SIP/sawaco-00009f36", "__strcalltype=in") in new stack
    -- Executing [8000@cnta:23] Set("SIP/sawaco-00009f36", "__destinationnumber=19001836") in new stack
    -- Executing [8000@cnta:24] Set("SIP/sawaco-00009f36", "__callernumber=0908353820") in new stack
    -- Executing [8000@cnta:25] Set("SIP/sawaco-00009f36", "__recordpath=record/in/2026/07/31/1785492283.72118.wav") in new stack
    -- Executing [8000@cnta:26] Set("SIP/sawaco-00009f36", "Path=/var/www/html/record/in/2026/07/31/1785492283.72118.wav") in new stack
    -- Executing [8000@cnta:27] Set("SIP/sawaco-00009f36", "__starttime=2026-07-31 17:04:44") in new stack
    -- Executing [8000@cnta:28] Set("SIP/sawaco-00009f36", "__childcalluuid=a862143d-59f7-49f3-8d53-a14eaf000940") in new stack
    -- Executing [8000@cnta:29] Set("SIP/sawaco-00009f36", "__strrecordpath=record/in/2026/07/31/1785492283.72118.wav") in new stack
    -- Executing [8000@cnta:30] SIPAddHeader("SIP/sawaco-00009f36", "P-Asserted-Identity:1785492283.72118_in") in new stack
    -- Executing [8000@cnta:31] GotoIf("SIP/sawaco-00009f36", "0?dropblacklist") in new stack
    -- Executing [8000@cnta:32] Set("SIP/sawaco-00009f36", "departmentid=4") in new stack
    -- Executing [8000@cnta:33] Set("SIP/sawaco-00009f36", "CDR(departmentid)=4") in new stack
    -- Executing [8000@cnta:34] Answer("SIP/sawaco-00009f36", "") in new stack
       > Found no rows [SELECT `maindialplanid`,departmentid FROM `ivrplanforday` WHERE 1 AND fromdate<=curdate() AND curdate()<=todate AND fromtime<=CURRENT_TIME() AND CURRENT_TIME()<=totime AND (pbxtel='19001836' OR pbxtel='') ORDER BY pbxtel DESC LIMIT 1]
    -- Executing [8000@cnta:35] Set("SIP/sawaco-00009f36", "ARRAY(__maindialplanid,__departmentid)=") in new stack
    -- Executing [8000@cnta:36] GotoIf("SIP/sawaco-00009f36", "0?day:checkweekday") in new stack
    -- Goto (cnta,8000,44)
    -- Executing [8000@cnta:44] Verbose("SIP/sawaco-00009f36", "3,Nocheck-continue") in new stack
    -- Nocheck-continue
    -- Executing [8000@cnta:45] GotoIf("SIP/sawaco-00009f36", "0?nonofficetime:binhthuong") in new stack
    -- Goto (cnta,8000,46)
    -- Executing [8000@cnta:46] Verbose("SIP/sawaco-00009f36", "3,binhthuong") in new stack
    -- binhthuong
    -- Executing [8000@cnta:47] GotoIfTime("SIP/sawaco-00009f36", "0:0-7:30,mon-fri,*,*?NgoaiGio_Phim1") in new stack
    -- Executing [8000@cnta:48] GotoIfTime("SIP/sawaco-00009f36", "17:00-23:59,mon-fri,*,*?NgoaiGio_Phim1") in new stack
    -- Goto (cnta,8000,206)
    -- Executing [8000@cnta:206] Verbose("SIP/sawaco-00009f36", "3,NgoaiGio_Phim1") in new stack
    -- NgoaiGio_Phim1
    -- Executing [8000@cnta:207] Read("SIP/sawaco-00009f36", "__ivrkey,/var/www/html/ivrsound/ngoaigio_phim1,1,5,2") in new stack
[Jul 31 17:04:44] WARNING[3626653][C-00005d21]: app.c:3114 parse_options: Unrecognized option: '5'
    -- Accepting a maximum of 1 digits.
    -- <SIP/sawaco-00009f36> Playing '/var/www/html/ivrsound/ngoaigio_phim1.slin' (language 'en')
[Jul 31 17:04:48] NOTICE[735747]: chan_sip.c:30551 sip_poke_noanswer: Peer 'sentech' is now UNREACHABLE!  Last qualify: 26
       > 0x7f7c802970b0 -- Strict RTP learning complete - Locking on source address 14.238.91.30:10158
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
    -- User entered '1'
    -- Executing [8000@cnta:208] GotoIf("SIP/sawaco-00009f36", "1?xuly_NgoaiGio_Phim1:xuly_NgoaiGio_Phim1_Kethut") in new stack
    -- Goto (cnta,8000,209)
    -- Executing [8000@cnta:209] Verbose("SIP/sawaco-00009f36", "3,xuly_NgoaiGio_Phim1") in new stack
    -- xuly_NgoaiGio_Phim1
    -- Executing [8000@cnta:210] Goto("SIP/sawaco-00009f36", "nonofficetime1") in new stack
    -- Goto (cnta,8000,85)
    -- Executing [8000@cnta:85] Set("SIP/sawaco-00009f36", "CDR(dropcause)=nonofficetime") in new stack
    -- Executing [8000@cnta:86] Set("SIP/sawaco-00009f36", "ARRAY(wdayofweek,forwardnumber,fwmode)=6,136\,115\,117\,137\,138\,123\,118\,114\,151\,154\,120\,139\,119\,146\,128\,113\,144\,143\,125\,152\,149\,141\,140\,147\,124\,153\,150\,127\,129\,116\,111\,142\,108\,122\,109\,148\,126\,112\,121\,110\,145,Queue") in new stack
    -- Executing [8000@cnta:87] GotoIf("SIP/sawaco-00009f36", "0?siptrunkforward1") in new stack
    -- Executing [8000@cnta:88] GotoIf("SIP/sawaco-00009f36", "1?fwQueue") in new stack
    -- Goto (cnta,8000,91)
    -- Executing [8000@cnta:91] Verbose("SIP/sawaco-00009f36", "3,goto fwQueue") in new stack
    -- goto fwQueue
    -- Executing [8000@cnta:92] Set("SIP/sawaco-00009f36", "__ivrkey=10") in new stack
    -- Executing [8000@cnta:93] Set("SIP/sawaco-00009f36", "ARRAY(__action,__ato,__timeout,__ngreeting,__tovm,__departmentid)=Queue,Group1,55,busy_,,4") in new stack
    -- Executing [8000@cnta:94] Set("SIP/sawaco-00009f36", "__ato=GroupDay6") in new stack
    -- Executing [8000@cnta:95] Verbose("SIP/sawaco-00009f36", "departmentid=4") in new stack
departmentid=4
    -- Executing [8000@cnta:96] Set("SIP/sawaco-00009f36", "CDR(departmentid)=4") in new stack
    -- Executing [8000@cnta:97] Goto("SIP/sawaco-00009f36", "goqueue") in new stack
    -- Goto (cnta,8000,171)
    -- Executing [8000@cnta:171] NoOp("SIP/sawaco-00009f36", "") in new stack
    -- Executing [8000@cnta:172] MixMonitor("SIP/sawaco-00009f36", "/var/www/html/record/in/2026/07/31/1785492283.72118.wav,a") in new stack
  == Begin MixMonitor Recording SIP/sawaco-00009f36
    -- Executing [8000@cnta:173] Set("SIP/sawaco-00009f36", "CDR(recordpath)=/var/www/html/record/in/2026/07/31/1785492283.72118.wav") in new stack
    -- Executing [8000@cnta:174] Set("SIP/sawaco-00009f36", "startime=2026-07-31 17:05:00") in new stack
    -- Executing [8000@cnta:175] Set("SIP/sawaco-00009f36", "D_TSQL()=INSERT INTO currentcall (recordpath,channel,SIPCALLID,uniqueid,caller,callee,timein,timestart,calltype,tel,on_queue,departmentid,pbxtel) VALUES ('record/in/2026/07/31/1785492283.72118.wav','SIP/sawaco-00009f36','a862143d-59f7-49f3-8d53-a14eaf000940','1785492283.72118','0908353820','19001836','2026-07-31 17:05:00','2026-07-31 17:05:00','in','0908353820','GroupDay6','4','19001836')") in new stack
    -- Executing [8000@cnta:176] Set("SIP/sawaco-00009f36", "CDR(ivrqueue)=GroupDay6") in new stack
    -- Executing [8000@cnta:177] Set("SIP/sawaco-00009f36", "CDR(command)=Queue") in new stack
    -- Executing [8000@cnta:178] GotoIf("SIP/sawaco-00009f36", "0?locvvtest") in new stack
    -- Executing [8000@cnta:179] Set("SIP/sawaco-00009f36", "CDR(dropcause)=normal") in new stack
    -- Executing [8000@cnta:180] Answer("SIP/sawaco-00009f36", "") in new stack
    -- Executing [8000@cnta:181] Queue("SIP/sawaco-00009f36", "GroupDay6,t,,,55") in new stack
    -- Started music on hold, class 'default', on channel 'SIP/sawaco-00009f36'
[Jul 31 17:05:03] NOTICE[735747]: chan_sip.c:30551 sip_poke_noanswer: Peer '131' is now UNREACHABLE!  Last qualify: 145
[Jul 31 17:05:26] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer 'sentech' is now Reachable. (27ms / 2000ms)
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
    -- Stopped music on hold on SIP/sawaco-00009f36
    -- Executing [8000@cnta:182] Playback("SIP/sawaco-00009f36", "/var/www/html/ivrsound/busywait") in new stack
    -- <SIP/sawaco-00009f36> Playing '/var/www/html/ivrsound/busywait.slin' (language 'en')
    -- Executing [8000@cnta:183] Queue("SIP/sawaco-00009f36", "GroupDay6,t,,,55") in new stack
    -- Started music on hold, class 'default', on channel 'SIP/sawaco-00009f36'
    -- Registered SIP '0908407322' at 14.186.70.35:27651
       > Saved useragent "Zoiper v2.10.20.13" for peer 0908407322
[Jul 31 17:06:49] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '0908407322' is now Reachable. (20ms / 20000ms)
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
    -- Stopped music on hold on SIP/sawaco-00009f36
    -- Executing [8000@cnta:184] Set("SIP/sawaco-00009f36", "CDR(dropcause)=TIMEOUT") in new stack
    -- Executing [8000@cnta:185] Playback("SIP/sawaco-00009f36", "/var/www/html/ivrsound/busystop") in new stack
    -- <SIP/sawaco-00009f36> Playing '/var/www/html/ivrsound/busystop.slin' (language 'en')
    -- Executing [8000@cnta:186] Hangup("SIP/sawaco-00009f36", "") in new stack
  == Spawn extension (cnta, 8000, 186) exited non-zero on 'SIP/sawaco-00009f36'
    -- Executing [h@cnta:1] NoOp("SIP/sawaco-00009f36", "a862143d-59f7-49f3-8d53-a14eaf000940") in new stack
    -- Executing [h@cnta:2] Set("SIP/sawaco-00009f36", "__Time_Now=1785492429") in new stack
    -- Executing [h@cnta:3] Verbose("SIP/sawaco-00009f36", "2,Dialstatus = ") in new stack
  == Dialstatus = 
    -- Executing [h@cnta:4] Verbose("SIP/sawaco-00009f36", "2,HANGUPCAUSE = 16") in new stack
  == HANGUPCAUSE = 16
    -- Executing [h@cnta:5] Set("SIP/sawaco-00009f36", "CDR(hangupcause)=16") in new stack
    -- Executing [h@cnta:6] Set("SIP/sawaco-00009f36", "CDR(queuestatus)=TIMEOUT") in new stack
    -- Executing [h@cnta:7] Set("SIP/sawaco-00009f36", "CDR(dialstatus)=") in new stack
    -- Executing [h@cnta:8] Set("SIP/sawaco-00009f36", "CDR(childcalluuid)=a862143d-59f7-49f3-8d53-a14eaf000940") in new stack
    -- Executing [h@cnta:9] Set("SIP/sawaco-00009f36", "D_TSQL()=UPDATE currentcall SET del=\'yes\' WHERE uniqueid=\'1785492283.72118\' ") in new stack
    -- Executing [h@cnta:10] Set("SIP/sawaco-00009f36", "D_TSQL()=UPDATE ast_conference_status SET del='yes' WHERE uniqueid=\'1785492283.72118\' ") in new stack
    -- Executing [h@cnta:11] GotoIf("SIP/sawaco-00009f36", "0?noneevent:event") in new stack
    -- Goto (cnta,h,12)
    -- Executing [h@cnta:12] Verbose("SIP/sawaco-00009f36", "3,event") in new stack
    -- event
    -- Executing [h@cnta:13] System("SIP/sawaco-00009f36", "/usr/bin/php /var/www/html/record/eventcalllogs/sendeventcalltologbg.php 'callstatus=end&calluuid=1785492283.72118&direction=in&callernumber=0908353820&destinationnumber=19001836&starttime=2026-07-31 17:07:09&cause=TIMEOUT&childcalluuid=a862143d-59f7-49f3-8d53-a14eaf000940&vm=false'") in new stack
    -- Executing [h@cnta:14] Verbose("SIP/sawaco-00009f36", "3,endcall") in new stack
    -- endcall
  == MixMonitor close filestream (mixed)
  == End MixMonitor Recording SIP/sawaco-00009f36
    -- Registered SIP '131' at 14.238.88.74:19307
[Jul 31 17:07:23] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (24ms / 20000ms)
    -- Unregistered SIP '131'
[Jul 31 17:07:23] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (17ms / 20000ms)
    -- Registered SIP '131' at 14.238.88.74:19307
       > Saved useragent "Sipnetic/1.1.10 Android" for peer 131
[Jul 31 17:07:23] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (11ms / 20000ms)
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
[Jul 31 17:10:04] NOTICE[735747]: chan_sip.c:30551 sip_poke_noanswer: Peer '131' is now UNREACHABLE!  Last qualify: 147
[Jul 31 17:10:30] NOTICE[735747]: chan_sip.c:30551 sip_poke_noanswer: Peer '0908407322' is now UNREACHABLE!  Last qualify: 25
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
    -- Registered SIP '0908407322' at 14.186.70.35:27651
[Jul 31 17:11:49] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '0908407322' is now Reachable. (55ms / 20000ms)
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
    -- Registered SIP '131' at 14.238.88.74:50763
[Jul 31 17:12:24] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (22ms / 20000ms)
    -- Unregistered SIP '131'
[Jul 31 17:12:24] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (15ms / 20000ms)
    -- Registered SIP '131' at 14.238.88.74:50763
       > Saved useragent "Sipnetic/1.1.10 Android" for peer 131
[Jul 31 17:12:24] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '131' is now Reachable. (7ms / 20000ms)
tongdaita*CLI> 
Disconnected from Asterisk server
Asterisk cleanly ending (0).
Executing last minute cleanups
admininstall@tongdaita:~$ 
