tongdaita*CLI> 
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == HTTP Manager 'cnta' timed out from 127.0.0.1
[Jul 31 15:28:29] NOTICE[735747]: chan_sip.c:30551 sip_poke_noanswer: Peer '0908407322' is now UNREACHABLE!  Last qualify: 14
  == HTTP Manager 'cnta' timed out from 127.0.0.1
  == HTTP Manager 'cnta' logged on from 127.0.0.1
  == Using SIP RTP CoS mark 5
       > 0x7f7c8026de60 -- Strict RTP learning after remote address set to: 10.163.201.5:45670
    -- Executing [19001836@cnta:1] NoOp("SIP/vnpt3-00009edc", "") in new stack
    -- Executing [19001836@cnta:2] Verbose("SIP/vnpt3-00009edc", "3,10.163.201.4") in new stack
    -- 10.163.201.4
    -- Executing [19001836@cnta:3] Verbose("SIP/vnpt3-00009edc", "3,CHANNEL(peerip)") in new stack
    -- CHANNEL(peerip)
    -- Executing [19001836@cnta:4] Set("SIP/vnpt3-00009edc", "CALLERID(num)=0902261873") in new stack
    -- Executing [19001836@cnta:5] Set("SIP/vnpt3-00009edc", "CALLERID(ani)=0902261873") in new stack
    -- Executing [19001836@cnta:6] Set("SIP/vnpt3-00009edc", "CALLERID(name)=0902261873") in new stack
    -- Executing [19001836@cnta:7] Set("SIP/vnpt3-00009edc", "__pbxtel=19001836") in new stack
    -- Executing [19001836@cnta:8] Set("SIP/vnpt3-00009edc", "CDR(pbxtel)=19001836") in new stack
    -- Executing [19001836@cnta:9] Set("SIP/vnpt3-00009edc", "CDR(tel)=0902261873") in new stack
    -- Executing [19001836@cnta:10] Set("SIP/vnpt3-00009edc", "CDR(calldirection)=in") in new stack
    -- Executing [19001836@cnta:11] GotoIf("SIP/vnpt3-00009edc", "0?dropblacklist") in new stack
    -- Executing [19001836@cnta:12] Progress("SIP/vnpt3-00009edc", "") in new stack
    -- Executing [19001836@cnta:13] Wait("SIP/vnpt3-00009edc", "1") in new stack
       > 0x7f7c8026de60 -- Strict RTP switching to RTP target address 10.163.201.5:45670 as source
    -- Executing [19001836@cnta:14] Playback("SIP/vnpt3-00009edc", "/var/www/html/ivrsound/1900_1000_beep,noanswer") in new stack
    -- <SIP/vnpt3-00009edc> Playing '/var/www/html/ivrsound/1900_1000_beep.slin' (language 'en')
       > 0x7f7c8026de60 -- Strict RTP learning complete - Locking on source address 10.163.201.5:45670
    -- Unregistered SIP '5001'
[Jul 31 15:29:45] NOTICE[735747]: chan_sip.c:25009 handle_response_peerpoke: Peer '5001' is now Reachable. (41ms / 20000ms)
    -- Executing [19001836@cnta:15] Goto("SIP/vnpt3-00009edc", "cnta,8000,pbxtel") in new stack
    -- Goto (cnta,8000,7)
    -- Executing [8000@cnta:7] Set("SIP/vnpt3-00009edc", "CDR(pbxtel)=19001836") in new stack
    -- Executing [8000@cnta:8] NoOp("SIP/vnpt3-00009edc", "") in new stack
    -- Executing [8000@cnta:9] Progress("SIP/vnpt3-00009edc", "") in new stack
    -- Executing [8000@cnta:10] Wait("SIP/vnpt3-00009edc", "1") in new stack
  == HTTP Manager 'cnta' logged on from 127.0.0.1
    -- Executing [8000@cnta:11] Set("SIP/vnpt3-00009edc", "recordfolder=/var/www/html/record") in new stack
    -- Executing [8000@cnta:12] Set("SIP/vnpt3-00009edc", "CDR(tel)=0902261873") in new stack
    -- Executing [8000@cnta:13] Set("SIP/vnpt3-00009edc", "CDR(calldirection)=in") in new stack
    -- Executing [8000@cnta:14] Set("SIP/vnpt3-00009edc", "__caller=0902261873") in new stack
    -- Executing [8000@cnta:15] Set("SIP/vnpt3-00009edc", "__vm=false") in new stack
    -- Executing [8000@cnta:16] Set("SIP/vnpt3-00009edc", "__Time_Now=1785486587") in new stack
    -- Executing [8000@cnta:17] Set("SIP/vnpt3-00009edc", "__Year=2026") in new stack
    -- Executing [8000@cnta:18] Set("SIP/vnpt3-00009edc", "__Month=07") in new stack
    -- Executing [8000@cnta:19] Set("SIP/vnpt3-00009edc", "__Day=31") in new stack
    -- Executing [8000@cnta:20] Set("SIP/vnpt3-00009edc", "__WeekdayName=Fri") in new stack
    -- Executing [8000@cnta:21] Set("SIP/vnpt3-00009edc", "__DayOfWeek=5") in new stack
    -- Executing [8000@cnta:22] Set("SIP/vnpt3-00009edc", "__strcalltype=in") in new stack
    -- Executing [8000@cnta:23] Set("SIP/vnpt3-00009edc", "__destinationnumber=19001836") in new stack
    -- Executing [8000@cnta:24] Set("SIP/vnpt3-00009edc", "__callernumber=0902261873") in new stack
    -- Executing [8000@cnta:25] Set("SIP/vnpt3-00009edc", "__recordpath=record/in/2026/07/31/1785486573.71963.wav") in new stack
    -- Executing [8000@cnta:26] Set("SIP/vnpt3-00009edc", "Path=/var/www/html/record/in/2026/07/31/1785486573.71963.wav") in new stack
    -- Executing [8000@cnta:27] Set("SIP/vnpt3-00009edc", "__starttime=2026-07-31 15:29:47") in new stack
    -- Executing [8000@cnta:28] Set("SIP/vnpt3-00009edc", "__childcalluuid=83dX83329153103rbfGhEfCgMiB0e@10.202.47.38") in new stack
    -- Executing [8000@cnta:29] Set("SIP/vnpt3-00009edc", "__strrecordpath=record/in/2026/07/31/1785486573.71963.wav") in new stack
    -- Executing [8000@cnta:30] SIPAddHeader("SIP/vnpt3-00009edc", "P-Asserted-Identity:1785486573.71963_in") in new stack
    -- Executing [8000@cnta:31] GotoIf("SIP/vnpt3-00009edc", "0?dropblacklist") in new stack
    -- Executing [8000@cnta:32] Set("SIP/vnpt3-00009edc", "departmentid=4") in new stack
    -- Executing [8000@cnta:33] Set("SIP/vnpt3-00009edc", "CDR(departmentid)=4") in new stack
    -- Executing [8000@cnta:34] Answer("SIP/vnpt3-00009edc", "") in new stack
       > Found no rows [SELECT `maindialplanid`,departmentid FROM `ivrplanforday` WHERE 1 AND fromdate<=curdate() AND curdate()<=todate AND fromtime<=CURRENT_TIME() AND CURRENT_TIME()<=totime AND (pbxtel='19001836' OR pbxtel='') ORDER BY pbxtel DESC LIMIT 1]
    -- Executing [8000@cnta:35] Set("SIP/vnpt3-00009edc", "ARRAY(__maindialplanid,__departmentid)=") in new stack
    -- Executing [8000@cnta:36] GotoIf("SIP/vnpt3-00009edc", "0?day:checkweekday") in new stack
    -- Goto (cnta,8000,44)
    -- Executing [8000@cnta:44] Verbose("SIP/vnpt3-00009edc", "3,Nocheck-continue") in new stack
    -- Nocheck-continue
    -- Executing [8000@cnta:45] GotoIf("SIP/vnpt3-00009edc", "0?nonofficetime:binhthuong") in new stack
    -- Goto (cnta,8000,46)
    -- Executing [8000@cnta:46] Verbose("SIP/vnpt3-00009edc", "3,binhthuong") in new stack
    -- binhthuong
    -- Executing [8000@cnta:47] GotoIfTime("SIP/vnpt3-00009edc", "0:0-7:30,mon-fri,*,*?NgoaiGio_Phim1") in new stack
    -- Executing [8000@cnta:48] GotoIfTime("SIP/vnpt3-00009edc", "17:00-23:59,mon-fri,*,*?NgoaiGio_Phim1") in new stack
    -- Executing [8000@cnta:49] GotoIfTime("SIP/vnpt3-00009edc", "0:0-23:59,sat,*,*?NgoaiGio_Phim1") in new stack
    -- Executing [8000@cnta:50] GotoIfTime("SIP/vnpt3-00009edc", "0:0-23:59,sun,*,*?NgoaiGio_Phim1") in new stack
    -- Executing [8000@cnta:51] GotoIfTime("SIP/vnpt3-00009edc", "7:30-21:00,*,*,*?g1menu") in new stack
    -- Goto (cnta,8000,56)
    -- Executing [8000@cnta:56] Verbose("SIP/vnpt3-00009edc", "g1menu") in new stack
g1menu
    -- Executing [8000@cnta:57] GotoIf("SIP/vnpt3-00009edc", "0?binhthuong1") in new stack
    -- Executing [8000@cnta:58] Set("SIP/vnpt3-00009edc", "ivrkey=1") in new stack
    -- Executing [8000@cnta:59] GotoIf("SIP/vnpt3-00009edc", "1?binhthuong1") in new stack
    -- Goto (cnta,8000,82)
    -- Executing [8000@cnta:82] Verbose("SIP/vnpt3-00009edc", "3,binhthuong1") in new stack
    -- binhthuong1
    -- Executing [8000@cnta:83] GotoIf("SIP/vnpt3-00009edc", "0?test146") in new stack
    -- Executing [8000@cnta:84] GotoIf("SIP/vnpt3-00009edc", "1?officetime:nonofficetime1") in new stack
    -- Goto (cnta,8000,163)
    -- Executing [8000@cnta:163] NoOp("SIP/vnpt3-00009edc", "") in new stack
    -- Executing [8000@cnta:164] Set("SIP/vnpt3-00009edc", "g1=g1") in new stack
    -- Executing [8000@cnta:165] Set("SIP/vnpt3-00009edc", "__ivrkey=10") in new stack
    -- Executing [8000@cnta:166] Verbose("SIP/vnpt3-00009edc", "ivrkey= 10") in new stack
ivrkey= 10
    -- Executing [8000@cnta:167] Verbose("SIP/vnpt3-00009edc", "GET_IVRINFO(10,19001836)") in new stack
GET_IVRINFO(10,19001836)
    -- Executing [8000@cnta:168] Set("SIP/vnpt3-00009edc", "ARRAY(__action,__ato,__timeout,__ngreeting,__tovm,__departmentid)=Queue,Group1,55,busy_,,4") in new stack
    -- Executing [8000@cnta:169] Verbose("SIP/vnpt3-00009edc", "departmentid=4") in new stack
departmentid=4
    -- Executing [8000@cnta:170] Set("SIP/vnpt3-00009edc", "CDR(departmentid)=4") in new stack
    -- Executing [8000@cnta:171] NoOp("SIP/vnpt3-00009edc", "") in new stack
    -- Executing [8000@cnta:172] MixMonitor("SIP/vnpt3-00009edc", "/var/www/html/record/in/2026/07/31/1785486573.71963.wav,a") in new stack
  == Begin MixMonitor Recording SIP/vnpt3-00009edc
    -- Executing [8000@cnta:173] Set("SIP/vnpt3-00009edc", "CDR(recordpath)=/var/www/html/record/in/2026/07/31/1785486573.71963.wav") in new stack
    -- Executing [8000@cnta:174] Set("SIP/vnpt3-00009edc", "startime=2026-07-31 15:29:47") in new stack
    -- Executing [8000@cnta:175] Set("SIP/vnpt3-00009edc", "D_TSQL()=INSERT INTO currentcall (recordpath,channel,SIPCALLID,uniqueid,caller,callee,timein,timestart,calltype,tel,on_queue,departmentid,pbxtel) VALUES ('record/in/2026/07/31/1785486573.71963.wav','SIP/vnpt3-00009edc','83dX83329153103rbfGhEfCgMiB0e@10.202.47.38','1785486573.71963','0902261873','19001836','2026-07-31 15:29:47','2026-07-31 15:29:47','in','0902261873','Group1','4','19001836')") in new stack
    -- Executing [8000@cnta:176] Set("SIP/vnpt3-00009edc", "CDR(ivrqueue)=Group1") in new stack
    -- Executing [8000@cnta:177] Set("SIP/vnpt3-00009edc", "CDR(command)=Queue") in new stack
    -- Executing [8000@cnta:178] GotoIf("SIP/vnpt3-00009edc", "0?locvvtest") in new stack
    -- Executing [8000@cnta:179] Set("SIP/vnpt3-00009edc", "CDR(dropcause)=normal") in new stack
    -- Executing [8000@cnta:180] Answer("SIP/vnpt3-00009edc", "") in new stack
    -- Executing [8000@cnta:181] Queue("SIP/vnpt3-00009edc", "Group1,t,,,55") in new stack
    -- Started music on hold, class 'default', on channel 'SIP/vnpt3-00009edc'
[Jul 31 15:29:48] NOTICE[735747]: chan_sip.c:30551 sip_poke_noanswer: Peer '131' is now UNREACHABLE!  Last qualify: 67
  == HTTP Manager 'cnta' timed out from 127.0.0.1
    -- Stopped music on hold on SIP/vnpt3-00009edc
    -- Executing [8000@cnta:182] Playback("SIP/vnpt3-00009edc", "/var/www/html/ivrsound/busywait") in new stack
    -- <SIP/vnpt3-00009edc> Playing '/var/www/html/ivrsound/busywait.slin' (language 'en')
  == HTTP Manager 'cnta' logged on from 127.0.0.1
    -- Executing [8000@cnta:183] Queue("SIP/vnpt3-00009edc", "Group1,t,,,55") in new stack
    -- Started music on hold, class 'default', on channel 'SIP/vnpt3-00009edc'
  == HTTP Manager 'cnta' timed out from 127.0.0.1
tongdaita*CLI> exit
Asterisk cleanly ending (0).
Executing last minute cleanups
admininstall@tongdaita:~$ 
admininstall@tongdaita:~$ 
admininstall@tongdaita:~$ 
admininstall@tongdaita:~$ 
